*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* padding-left: 20px; */
    /* font-size: large; */
}
.Main{
    height: 100vh;
    width: 100%;
    background-color: rgba(29, 115, 245, 0.536);
}

h2{
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.border{
    border-top: 2px solid rgba(29, 115, 245, 0.536);
    width: 97%;
    height: 0.5px;
    /* background-color: black; */
    margin-left: 20px;
    opacity: 0.25;
}
.info{
    background-color:white;
    display: flex;
    margin: 20px;
    padding-left: 20px;
    
}
p{
    color:black;
    margin: 10px;
    font-size: large;
    padding-right: 20px;
    padding-bottom: 2px;
}
div+span{
    color:black;
    margin: 10px;
    font-size: large;
}
.b{
    color: red;
    margin-top: 40px;
    margin-left: 180px;
}
.c{
    color: blue;
}
.d{
    color: red;
    margin-top: 40px;
    margin-left: 250px;
}
.Main2{
    height: 280px;
    /* width: 97.5%; */
    background-color: white;
    margin: 20px;
    display: flex;
}
.e{
    width: 50%;
}
.Main3{
    width: 50%;
}
form input{
    margin-top: 10px;
    height: 30px;
    margin-left: 20px;
    padding-left: 5px; 
    border-radius: 5px;
}
textarea{
    margin-left: 20px;
    margin-top: 10px;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
}
input[type=submit]{
    background-color: red;
    height: 30px;
    width: 50px;
    margin: auto;
    margin-top:5px;
    margin-left: 20px;
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
    padding: 2px;
}
.icon{
    margin-top: 5px;
}


   
    
